<div class="videocontainer">
<div class="tv-container">
    <div class="tv-frame">
      <div class="tv-screen">
        <video #videoElement autoplay muted></video>
      </div>
    </div>
  </div>
  
  <div class="button-row">
    <button class="btn btn-primary" (click)="startRecording()" *ngIf="!isRecording">Start Recording</button>
    <button class="btn btn-primary" (click)="stopRecording()" *ngIf="isRecording">Stop Recording</button>
    <button class="btn btn-primary" (click)="downloadVideo()" *ngIf="videoAvailable">Download Video</button>
  </div>
</div>