<!-- app.component.html -->
<app-navbar></app-navbar>

<ng-container *ngIf="!(userService.user$ | async); else mainContent">
  <app-login></app-login>
</ng-container>

<ng-template #mainContent>
  <div class="content" role="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Welcome to my Angular demo!

          </h1>
          <div class="alert alert-primary">
            <p>Prior to 5/10/2023 I had never written a single line of Angular, nor have I ever seen any Angular code. I created this Angular site based off of the previous years of Full Stack development work I've done in other .NET MVC sites and React Sites.</p>
          </div>
          <p>Here I have created a simple chat box. After entering your message it sends the message to a backend Node.js api that will response with some Lorem Ipsum text with your message appended to the end.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="video-chat-container">
            <app-video-cam></app-video-cam>
            <div class="spacer"></div>
            <app-chat-session></app-chat-session>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<footer class="mt-5">
  <!-- Footer content goes here -->
</footer>
