<!-- app.component.html -->
<app-navbar></app-navbar>

<ng-container *ngIf="!(userService.user$ | async); else mainContent">
  <app-login></app-login>
</ng-container>

<ng-template #mainContent>
  <div class="content" role="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <h1>Welcome to my Angular demo!

          </h1>
          <div class="alert alert-primary">
            <p>Prior to 5/10/2023 I had never written a single line of Angular, nor have I ever seen any Angular code. I created this Angular site based off of the previous years of Full Stack development work I've done in other .NET MVC sites and React Sites.</p>
          </div>
          <div>Here I have:
            <ul>
              <li>Created a simple chat box. After entering your message it sends the message to a backend Node.js api that will response with some Lorem Ipsum text with your message appended to the end.</li>
              <li>Published site to a new Azura static website.</li>
              <li>Added a Github Actions CI/CD to have it publish on commit to the "main" branch.</li>
              <li>Added a login store that validates credentials with backend Node.js api server.</li>
              <li>Added a simple view to interact with a webcam.</li>
            </ul>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12">
          <div class="video-chat-container">
            <app-video-cam></app-video-cam>
            <div class="spacer"></div>
            <app-chat-session></app-chat-session>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<footer class="mt-5">
  <!-- Footer content goes here -->
</footer>
