<header>
  <nav class="navbar">
    <a class="navbar-brand" routerLink="/">CPS Portal</a>
    <button
      class="nav-toggler"
      type="button"
      (click)="toggleCollapse()"
      [attr.aria-expanded]="!isCollapsed"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      &#9776;
    </button>
    <ul class="nav-menu" [class.show]="isCollapsed" id="navbarNav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="./home" (click)="toggleCollapse()">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="./chat" (click)="toggleCollapse()">Chat</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="./resume" (click)="toggleCollapse()">Resume</a>
      </li>
      <li>
        <a class="nav-link" (click)="logout(); toggleCollapse()">Logout</a>
      </li>
    </ul>
  </nav>
</header>
