<div class="container">
    <div class="text-center mb-4">
      <h1>Scott Borchert</h1>
      <p>
        17965 Giants way Lakeville, MN 55044<br>
        sborchert@gmail.com<br>
        719-244-4626
      </p>
    </div>
  
    <h4 class="alert alert-primary">About Me:</h4>
    <h3>Senior Software Engineer / Systems Architect</h3>
    <p>Passionate and experienced full stack developer with a strong focus on the Microsoft stack and extensive experience in AWS. Highly adaptable, constantly learning new technologies and refining skills, while also enjoying sharing knowledge with others. A team player with a positive attitude and exceptional work ethic, looking to make a significant impact in a new organization.</p>
  
    <div>
        <p>
          My name is Scott Borchert. I'm a software engineer with many years of experience as a full stack developer with a large focus on the Microsoft stack, though certainly not limited. 
          I love coding and building systems. I am also a super nice humble guy! In my free time I typically will be on the computer learning new stuff, brushing up my skills or working on side projects if I'm not binging some Netflix show with my Wife. I also enjoy teaching others what I've learned. I'm a fun guy with a great attitude and an amazing work ethic.
        </p>
        <p>
          I have built many .NET Core MVC websites/microservices from scratch that are being used in large scale production. I am a strong believer in TDD/unit testing and automated end-to-end testing with xUnit, Selenium or Puppeteer. I enjoy the process of defining the needed requirements and executing to deliver a solid product. I've been referred to as a swiss army knife. Wherever you need me I can help out. I have no problem learning new tech and love prototyping new concepts. I get absolute joy creating and delivering software and working as a team to do so!
        </p>
        <p>
          In recent years I've also played the DevOps role managing GIT and setting up our CI/CD pipelines with Jenkins and managing all our system releases. At Hookit I created multiple release pipelines for both the front-end (with blue/green) and backend involving multiple steps and many servers. I recently helped migrate all our existing systems from a colocation facility in Phoenix to AWS.
        </p>
        <p>
          I have many reasons for choosing to find a new career opportunity. The largest being that the ingestion of social data is a tricky business with the social media platforms constantly trying to prevent us from scraping public data. In the past few years with privacy becoming a frontmost important topic, this task has become quite challenging. I always justified it because I was having a great time working with friends. I would love to create more integrations where the other end isnʼt trying to prevent us from getting the data.
        </p>
        <p>
          Over the past years I've held many titles: Sr. Full Stack Developer, Senior Software Engineer, Staff Engineer, Principal Systems Architect, Devops. BUT, I've just been doing the same thing all along the way which is building cool stuff.
        </p>
        <p style="margin-bottom: 0;">Looking forward to talking soon! Scott Borchert</p>
      </div>
<hr />
    <h4 class="alert alert-primary">Professional Experience:</h4>
  
    <h5>Architect/Lead Software Engineer (contract)</h5>
    <p>Shoore Inc.</p>
    <p>April 2022 - April 2023</p>
    <ul>
      <li>Led the development of a blockchain-based NFT Event Ticketing System.</li>
      <li>Quickly learned and applied new technologies, including Hardhat, Solidity, and Chai.</li>
    </ul>
  
    <h5>Senior Software Engineer</h5>
    <p>KORE Software (formally Hookit)</p>
    <p>March 2022 - Present</p>
    <ul>
      <li>Contributed to technical due diligence during the acquisition of Hookit.</li>
      <li>Leveraged AWS expertise to migrate infrastructure, reducing costs by 20% without application downtime.</li>
      <li>Maintained social media ingestion processes and provided technical design input.</li>
    </ul>
  
    <h5>Principal System Architect</h5>
    <p>Hookit</p>
    <p>October 2017 - March 2022</p>
    <ul>
      <li>Ensured overall architecture and system cleanliness.</li>
      <li>AWS  - EC2, Load Balancer, RDS, Secrets, S3, SQS</li>
      <li>Built critical components and systems for workflow management with computer vision vendors and audience data providers.</li>
      <li>Refactored core system components, including proprietary valuation model, computer vision integration, and ingestion integrations.</li>
      <li>Maintained ingestion processes from Twitter, Facebook, Instagram, TikTok, YouTube, Weibo, VK & Computer vision data.</li>
      <li>Implemented User/Role-based login system and security enhancements for large clients needing to meet SOC2/PCI requirements (e.g., Nike, RedBull, Visa).</li>
      <li>Created a Proxy Service for data ingestion operations and managed upgrades of end-of-life .NET versions.</li>
      <li>Migrated all servers at the data center to AWS, reducing costs by 20% without application downtime.</li>
      <li>Managed deployments for all front-end and back-end servers and configs.</li>
      <li>Implemented Blue/Green deployment and participated in design and implementation of security controls.</li>
      <li>Set up automated CI/CD using Jenkins and designed data models for refactored systems.</li>
      <li>Mentored other developers.</li>
    </ul>
  
    <h5>Senior Full Stack Software Engineer</h5>
    <p>Outreach, Inc.</p>
    <p>July 2006 - September 2017</p>
    <ul>
     
        <li>Developed and maintained company web properties.</li>
        <li>Migrated legacy website to .NET Core MVC using SOLR text search and React components.</li>
        <li>Implemented SEO strategies, increasing traffic by 80%.</li>
        <li>Developed an internal invoicing tool and migrated billing systems.</li>
    </ul>
    <h5>Software Engineer</h5>
    <p>Orasun Consulting</p>
    <p>October 2003 - October 2006</p>
    <ul>
      <li>Supported full lifecycle of software development for custom CRM solutions.</li>
      <li>Developed data-driven websites and custom registration forms for travel bookings.</li>
      <li>Created a sales and incentives platform for clients like Guitar Center and Rockford Fosgate.</li>
    </ul>
    <h4 class="alert alert-primary">Key Skills:</h4>
    <ul>
      <li>C#, ASP.NET / .NET Core, API/MVC/MVVM</li>
      <li>SQL, SQL Server, Data Modeling, Snowflake</li>
      <li>Web Development (HTML/CSS/Javascript/JQuery/SASS/Bootstrap)</li>
      <li>AWS (RDS, EC2, S3, AIM, Secrets, LB, SQS) – Extensive Experience</li>
      <li>Python, React JS, VB.NET / ASP</li>
      <li>CI/CD, Blue/Green, Jenkins, Git</li>
      <li>Restful APIs, .NET Core Microservices</li>
      <li>Entity Framework, Dapper, LINQ</li>
      <li>SOLR, Jira/Confluence</li>
      <li>Selenium, Puppeteer/Chai</li>
      <li>Hardhat/Solidity/Chai</li>
    </ul>
    <h4 class="alert alert-primary">Education:</h4>
    <ul>
      <li>BS in Computer Science, Metropolitan State University, 1999-2002</li>
      <li>General Studies in Computer Science, University of Minnesota-Twin Cities, 1997-1999</li>
    </ul>
  </div>
  
